body {
   font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #0a143a;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   max-width: 1146px;
   margin: 0 auto;
}

.header {
   padding: 30px 0;
   margin-bottom: 12px;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 24px;
}

.navbar-menu {
   margin-right: auto;
}

.menu {
   list-style: none;
   margin: 0;
   padding-left: 22px;
   padding-right: 22px;
   display: flex;
}

.menu-item:not(:last-child) {
   margin-right: 14px;
}

.menu-link {
   text-decoration: none;
   color: inherit;
}

.button {
   text-decoration: none;
   display: inline-block;
   padding: 10px 15px;
   cursor: pointer;
   border: none;
   outline: none;
}

button {
   border: none;
   outline: none;
   cursor: pointer;
}

.button-link {
   color: inherit;
}

.button-primary {
   border-radius: 5px;
   background: #256eeb;
   color: #fff;
}

.search-panel {
   height: 50px;
   background: #256eeb;
   border-radius: 5px;
   display: flex;
   padding: 3px;
}

.search-input {
   flex-grow: 1;
   background: #fff;
   border-radius: 5px;
   padding-left: 22px;
   padding-right: 22px;
   border: none;
   outline: none;
}

.search-button {
   background: #256eeb;
   padding: 15px 20px;
   color: #fff;
   display: flex;
   align-items: center;
}

.search-button-text {
   margin-left: 5px;
}

.page-content-wrap {
   display: grid;
   grid-template-columns: 9fr 3fr;
   gap: 0 30px;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
   margin-bottom: 20px;
}

.card-image {
   border-radius: 10px;
   width: 264px;
   height: 178px;
   object-fit: cover;
}

.card-header {
   display: flex;
   justify-content: space-between;
   align-items: start;
}

.card-title {
   font-weight: 700;
   font-size: 16px;
   color: #256eeb;
   margin: 12px 0 5px;
   max-width: 200px;
}

.card-like {
   background: #fff;
   margin-left: 15px;
}

.card-price {
   font-weight: 700;
   font-size: 16px;
   color: #0a143a;
}

.card-text {
   color: #c4c4c4;
   margin:10px 0 4px;
}